.navbar-color {
    background-color: #172339 !important;
}

.navbar-color i {
    color: #FFF;
}

.navbar-color a {
    color: #FFF;
}

input[type='password'] {
    user-select: none;
    cursor: no-drop;

}

.contant {

    display: flex;
    flex-direction: column;
    position: absolute;
    left: 42%;
    top: 15%;
    background-color: #ffffff;
    width: 600px;
    height: 550px;
    box-shadow: 1px 1px 10px 5px #ddd;
    align-items: center;
}

.form-control {
    width: 300px;
}


.form button {
    width: 150px;

    opacity: .9;
    margin-top: 1rem;

}


.del {
    position: absolute;
    left: 285px;
    top: 372.5px;
}

.form label {
    margin-top: 20px;
}

.form i {
    font-size: 3rem;
    text-align: center;
}