* {
    box-sizing: border-box;
}

.navbar-color {
    background-color: #172339 !important;
}

.navbar-color i {
    color: #FFF;
}

.navbar-color a {
    color: #FFF;
}

.StoreStatisctic {
    background-color: #2F0E53;
    opacity: .8;
    position: absolute;
    left: 15.7rem;
    width: 83.4%;
    height: 200px;
    top: 55px;
}

.StoreStatisctic h1 {
    color: white;
}

.allcards {
    position: absolute;
    top: 100px;
}


.allcards ul {
    display: flex;
    list-style: none;

}

.allcards ul li {
    margin-left: 50px;
}

.card {

    width: 330px;
    height: 150px;
    padding: 10px;
}

.card p {
    font-size: 27px;
    font-weight: 600;

}

.card span {
    position: absolute;
    left: 80%;
    top: 10px;
    font-size: 35px;



}

.card span i {
    background-color: #2F0E53;
    color: white;
    padding: 5px;
    border-radius: 5px;

}

.utable {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 800px;


}